.task-page {
  padding: 5rem 2rem;

  p, th, td, label {
    color: $color_1;
  }

  p.header-title {
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  .header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10rem;
  }

  .button {
    width: 22rem;
    border: 1px solid $color_9;
    border-radius: 30px;
    height: 5rem;
    background-color: $color_9;
    font-size: 1.6rem;
    text-align: center;
    line-height: 5rem;
    font-weight: bold;

    &:hover {
      color: $color_1;
    }
  }

  button.button {
    line-height: normal;
    color: $color_1;
  }

  .form-project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div {
      width: 40%;
      background-color: $color_7;
      margin-right: 4rem;
      margin-bottom: 3rem;
      padding: 2rem;

      label {
        color: $color_1;
        font-size: 1.6rem;
      }
    }

    .submit-div {
      background-color: $color_3;
    }
  }
}

//task-create
.task-create-page {
  .body-main {
    height: calc(100% - 10rem);

    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      label {
        color: $color_1;
        font-size: 1.6rem;
        margin-top: 2rem;
      }

      .detail-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .detail-box {
          background-color: $color_7;
          width: 100%;
          padding: 2rem;
          border: 1px solid $color_7;
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          .detail-box-1,
          .detail-box-2 {
            width: 45%;
          }
        }
      }

      .button-box {
        height: 10rem;
        display: flex;
      }
    }
  }
}